.users-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #ffffff;
  min-height: 100vh;
  background-size: cover;
}

.search-input {
  height: 40px;
  border-radius: 5px;
  width: 90%;
  padding-left: 10px;
  align-self: flex-start;
}

.users-table {
  padding: 20px;
  margin-top: 30px;
  width: 20%;
  border-collapse: collapse;
}

.users-table table,
th,
td {
  border: 1px solid black;
  padding-left: 5px;
}

@media screen and (min-width: 768px) {
  .users-table {
    width: 90%;
  }
}

.users-table-header {
  text-align: left;
}
.usersList-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.users-table-container {
  display: flex;
}

.pagination-container {
  color: white;
  display: flex;
}

.pagination {
  display: flex;
  list-style-type: none;
  color: white;
  font-size: 30px;
  align-self: center;
  font-weight: 700;
  align-self: stretch;
  width: 300px;
}

.delete-selected-button {
  background-color: tomato;
  color: White;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  border: none;
  height: 40px;
  align-self: center;
  border-radius: 7px;
  padding: 7px;
}
.usersList-loader-container {
  justify-content: center;

  margin-top: 70px;
  padding: 30px;
}

.failure-view-container {
  justify-content: center;

  margin-top: 30px;
  padding: 30px;
}

@media screen and (max-width: 768px) {
  .failure-image {
    width: 300px;
  }
}

.retry-button {
  width: 70px;
  height: 40px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 16px;
  background-color: blue;
  align-self: center;
}

.no-data-heading {
  font-family: 'Roboto';
  font-size: 20px;
  color: #000000;
}

.prev-button {
  border: 1px solid black;
  margin: 30px;
}
